container_commands:
  01_migrate:
    command: "django-admin.py syncdb"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "django_ecommerce.settings"
    PYTHONPATH: "/opt/python/current/app/django_ecommerce:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "django_ecommerce/django_ecommerce/wsgi.py"